body
	padding 0
	margin 0
	font-family "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size 14px

h1
	color gold
	text-shadow rgb(201, 198, 198) 2px 1px 4px
	font-size 3rem

	small
		font-size 2rem
		text-shadow none
		color #666
		font-weight normal

#wrapper
	width 80%
	margin 0 auto

#collectionList
	display none

// #editordiv, #collsdiv, #docsdiv, #editorhead, #collshead, #docshead
// 	-webkit-transition width 500ms
// 	-moz-transition width 500ms
// 	overflow hidden

// #body, #heads
// 	div.cell.hidden
// 		width 0%
// 		overflow hidden
// 		border 0
// 		padding 0

// #body, #heads
// 	.cell
// 		margin-right 2%
// 		padding 1%

#editor
	width 100%
	height 200px


// ul
// 	padding 0
// 	margin 0
// 	list-style none

// 	li
// 		padding 2px 2px 2px 10px
// 		cursor pointer
// 		border-radius 4px
// 		overflow hidden

// 	li:hover
// 		background-color lighten(gold, 80%)

// 	li.active
// 		background-color lighten(gold, 60%)

#breadcrumb
	li
		display inline-block

#body
	.cell
		border 1px solid #EEE
		border-radius 6px
		box-shadow gold 2px 2px 10px

// #heads
// 	.cell
// 		font-weight	bold

span.add, span.save
	border-radius 2px
	padding 0px 2px

span.add:hover, span.save:hover
	cursor pointer
	background-color gold
	border-radius 2px
	padding 0px 2px
