#wrapper
	header
		.row.span1
			.cell.span1.center
				h1 Golden Rose 
					small MongoDB Viewer

		#breadcrumb.row.span1
			ul.cell.span1
				li.database &nbsp;
				li.collection &nbsp;

	#main
		.row.span5
			.cell.span1
				aside
			.cell.span4
				#editor

	//- #databaseList.row.span1
	//- 	.cell.span1

	//- #collectionList.row.span1
	//- 	.cell.span1

	//- #documentList.row.span5
	//- 	.cell.span1.list
	//- 	.cell.span4
	//- 		h2 JSON
	//- 		#editor
			



	//- #heads.row.span12
	//- 	#dbshead.cell.span1 
	//- 		span DBs
	
	//- 	#collshead.cell.span2.hidden
	//- 		span Collections
	//- 		span.add.collection +
	
	//- 	#docshead.cell.span2.hidden
	//- 		span Docs
	//- 		span.add.document +
	
	//- 	#editorhead.cell.span5.hidden
	//- 		span JSON
	//- 		span.save.document v

	//- #body.row.span12
	//- 	#dbsdiv.cell.span1
	
	//- 	#collsdiv.cell.span2.hidden
	//- 		ul#colls
	
	//- 	#docsdiv.cell.span2.hidden
	//- 		ul#docs
	
	//- 	#editordiv.cell.span5.hidden
	//- 		#editor